@using Entity.Helper
@using Entity.ViewModal
@model Entity.Helper.MenuServiceModel
@{
    var pageContent = ViewBag.pageContent as ItemPagination;
}

<div class="col-12 table-responsive">

    <table class="table">
        <thead>
            <tr>
                <th scope="col"> <input type="checkbox" name="MenuItemsName" id="AllModifiersSelect" class="mx-2"> Name</th>
                <th scope="col">Unit</th>
                <th scope="col">Rate</th>
                <th scope="col">Quantity</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 0; i < Model.ModifierList.Count; i++)
                {


                    <tr>
                        <td>
                            <div class="d-flex">
                                <div>
                                    <input type="checkbox" class="mx-2 modifier-checkbox" data-modifier='@Html.Raw(Json.Serialize(@Model.ModifierList[i]))'>
                                </div>
                                <div>
                                    <span>@Model.ModifierList[i].Name</span>
                                </div>
                            </div>
                        </td>
                        <td>@Model.ModifierList[i].Unit</td>
                        <td>@Model.ModifierList[i].Rate</td>
                        <td>@Model.ModifierList[i].Quantity</td>
                        <td>
                            <img class="m-2" src="/images/icons/editLogo.svg" alt="" height="25" width="25" id="EditModifier" data-id="@Model.ModifierList[i].Id">
                            <img class="m-2" src="/images/icons/deleteIcon.svg" alt="" height="25" width="25"
                                data-bs-toggle="modal" data-bs-target="#DeleteModifierModal" onclick="BindData(@Html.Raw(Json.Serialize(@Model.ModifierList[i])))">
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@* pagination *@
<div class="d-flex align-item-center justify-content-end table-responsive">
    <div class="my-2 mx-1 d-flex">
        <span class="m-2">Items per Pages</span>

        <select class="h-50  px-3 m-2" aria-label=".form-select-sm example" id="itemperpageModifier">
            <option value="1" selected="@( pageContent.pageSize ==1 ? "selected" : null )">1</option>
            <option value="2" selected="@( pageContent.pageSize ==2 ? "selected" : null )">2</option>
            <option value="3" selected="@( pageContent.pageSize ==3 ? "selected" : null )">3</option>
            <option value="4" selected="@( pageContent.pageSize ==4 ? "selected" : null )">4</option>
            <option value="5" selected="@( pageContent.pageSize ==5 ? "selected" : null )">5</option>
            <option value="6" selected="@( pageContent.pageSize ==6 ? "selected" : null )">6</option>
            <option value="7" selected="@( pageContent.pageSize ==7 ? "selected" : null )">7</option>
            <option value="8" selected="@( pageContent.pageSize ==8 ? "selected" : null )">8</option>
        </select>
        <span class="m-2">Showing @pageContent.start-@pageContent.end of @pageContent.count</span>
        <ul class="pagination">
            <li class="page-item">
                @if (pageContent.page > 0)
                {

                    <a class="page-link PreviousButtonModifier" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>

                }
                else
                {

                    <a class="page-link PreviousButtonModifier disabled" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>

                }
            </li>
            <li class="page-item">
                @if (pageContent.page >= pageContent.maxPage - 1)
                {

                    <a class="page-link  disabled" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>

                }
                else
                {

                    <a class="page-link NextButtonModifier" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>

                }

            </li>
        </ul>
    </div>
</div>

<!-- delete Modifier modal -->
<div class="modal fade" id="DeleteModifierModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Delete Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex  align-item-center justify-content-center">
                <img src="/images/icons/alertIcon.svg" alt="" height="30" width="30">
                <span>Are you sure you want to delete this Modifier</span>
            </div>
            <div class="modal-footer d-flex align-item-center justify-content-center">
                <button type="button" class="btn btn-primary" id="DeleteModifier" data-modifier="">Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script>
    var currentPage =@ViewBag.pageContent.page;
    var currentPageSize = @ViewBag.pageContent.pageSize;
    var currentStart =  @ViewBag.pageContent.start;
    var currentSearch = "@ViewBag.pageContent.search";
    var currentCount = @ViewBag.pageContent.count;
    var currentSection = "@ViewBag.pageContent.Currentsection";
    var categoryid =@ViewBag.pageContent.Category;


    function BindData(element){
        $('#DeleteModifier').data("modifier",element);
    }
</script>
